@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

/**=============== VARAIBLE CSS ===============**/
:root {
    --header-height: 3.5rem;
    /**=============== Colors ===============**/
    /**Color mode HSL(hue, saturation, lightness) */
    --first-color: #020520d0;
    --first-color-alt: #d757f100;
    --title-color: #6df6d6;
    --option-color: #0205208e;
    --text-color: #e3d9d9;
    --white-color: #FFFFFF;
    --body-color: #f4f4f4;
    --first-color-light: #6ce278;
    --container-color: #ffffff;
    --box-shadow: 0 2px 16px #00000019;

    /**=============== Font and typography ===============**/
    /** .5rem = 8px | 1rem = 16px .... */
    --body-font: 'Poppins', sans-serif;
    --body-font-alt: 'Josefin Sans', sans-serif;
    --second-font: 'Montserrat', sans-serif;
    --biggest-font-size: 2.25rem;
    --bigger-font-size: 2rem;
    --big-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.2rem;
    --h3-font-size: 1rem;
    --normal-font-size: .94rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --smallest-font-size: .7rem;


    /*=============== Margins bottom ===============*/
    --mb-0-5: .5rem;
    --mb-0-75: .75ren;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
    --mb-3-5: 3.5rem;
    --mb-4: 4rem;

    /*=============== Font weight ===============*/
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;

    /*=============== z - index ===============*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== Reusable Css Classes ===============*/
.container {
    max-width: 1120px;
    margin-inline: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: var(--mb-1-5);
}

.section {
    padding-block: 4rem 1rem;
}

.section__title-alt {
    font-size: var(--small-font-size);
    font-weight: var(--font-weight-medium);
    color: var(--first-color-alt);
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
}

.section__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-1-5);
    text-align: center;
}


.main {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;


}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

input,
button,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--first-color);
    color: var(--text-color);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--font-weight-bold);
}

/*=============== HEADER AND NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.nav {
    height: var(--header-height);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
}

.toggle__icons {
    color: var(--title-color);
    transition: color .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 1rem;
}



/**************** Nav icons *******************/
.toggle__icons {
    position: fixed;
    top: 2rem;
    right: 0;
    font-size: 1.5rem;
}

.toggle__box {
    display: flex;
    align-items: center;
    height: 1.5rem;
    border: 3px solid var(--first-color-light);
    justify-content: flex-end;
    width: 2.5rem;
    border-radius: 12px;
    background: #9d25d0;
}

.toggle__circle {
    height: 1.1rem;
    width: 1.1rem;
    margin-left: .2rem;
    margin-right: .2rem;
    background: white;
    border-radius: 50%;
}

.toggle__icons i,
.toggle__box {
    cursor: pointer;
}
.show-menu {
    justify-content: flex-start;
}

@media screen and (max-width: 950px) {

    /**************** HOME *******************/
    .html-home {
        margin-top: 5rem;
    }

    .home__title {
        font-size: var(--biggest-font-size);
        font-weight: var(--font-weight-regular);
        margin-bottom: 2rem;
    }

    .home__title span {
        font-weight: var(--font-weight-bold);
    }

    .home__options {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .home__container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }


    .option__list {
        display: flex;
        background-color: var(--option-color);
        padding: 1rem 2.5rem;
        align-items: center;
        gap: .5rem;
        color: var(--title-color);
        border-radius: 1rem;
        cursor: pointer;
        transition: .3s;

    }

    .option__list:hover {
        background-color: var(--title-color);
    }

    .option__list:hover span {
        color: var(--white-color);
        background-color: var(--option-color);
    }

    .option__list:hover .option__text {
        color: var(--option-color);
        font-weight: var(--font-weight-medium);
    }


    .option__list span {
        background: #ffffffe5;
        padding: .2rem .5rem;
        color: var(--first-color);
        border-radius: 7px;
        font-weight: var(--font-weight-bold);
        font-size: var(--h2-font-size);
    }



    .btn {
        padding: .5rem 1rem;
        background: #9d25d0;
        outline: none;
        border: none;
        color: var(--title-color);
        border-radius: .5rem;

    }

    /**End Html page */

    .end__heading {
        margin-top: 2rem;
    }

    .end__heading-text {
        font-size: var(--biggest-font-size);
        font-weight: var(--font-weight-medium);
    }

    .end__heading-text span {
        font-weight: var(--font-weight-bold);
    }

    .score__output {
        background-color: #0205206e;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        border-radius: 1rem;
    }

    .score__heading {
        font-weight: var(--font-weight-bold);
        font-size: var(--h1-font-size);
    }

    .score {
        font-size: 6rem;
    }

    .end-btn {
        padding: 1rem;
        font-size: var(--h3-font-size);
        font-weight: var(--font-weight-medium);
    }
}

@media screen and (max-width: 320px) {

    .html-home {
        margin-top: 0;
    }

    .home__title {
        font-size: var(--big-font-size);
        font-weight: var(--font-weight-regular);
        margin-bottom: 2rem;
    }

    .home__title span {
        font-weight: var(--font-weight-bold);
    }

    .home__description {
        font-size: var(--small-font-size);
    }

    .option__list {
        padding: .5rem 2rem;

    }

    .option__list:hover {
        background-color: var(--title-color);
    }

    .option__list:hover span {
        color: var(--white-color);
        background-color: var(--option-color);
    }

    .option__list:hover .option__text {
        color: var(--option-color);
        font-weight: var(--font-weight-medium);
    }


    .option__list span {
        padding: .1rem .4rem;
        border-radius: 5px;
        font-weight: var(--font-weight-medium);
        font-size: var(--h3-font-size);
    }



    .btn {
        padding: .5rem 1rem;
        background: #9d25d0;
        outline: none;
        border: none;
        color: var(--title-color);
        border-radius: .5rem;

    }
}

@media screen and (min-width: 540px) {
  

    .option__list {
        display: flex;
        background-color: var(--option-color);
        padding: 1rem 2.5rem;
        align-items: center;
        gap: .5rem;
        color: var(--title-color);
        border-radius: 1rem;
        cursor: pointer;
        transition: .3s;
        width: 200px;

    }

    .option__list:hover {
        background-color: var(--title-color);
    }

    .option__list:hover span {
        color: var(--white-color);
        background-color: var(--option-color);
    }

    .option__list:hover .option__text {
        color: var(--option-color);
        font-weight: var(--font-weight-medium);
    }


    .option__list span {
        background: #ffffffe5;
        padding: .2rem .5rem;
        color: var(--first-color);
        border-radius: 7px;
        font-weight: var(--font-weight-medium);
        font-size: var(--h2-font-size);
    }

    .btn {
        padding: .5rem 1rem;
        background: #9d25d0;
        outline: none;
        border: none;
        color: var(--title-color);
        border-radius: .5rem;

    }
}

@media screen and (min-width: 778px) {
   

    .html-home {
        margin-top: 7rem;
       text-align: center;
    }
    .home__title {
        font-size: 4rem;
    }
    .home__description {
        font-size: var(--h2-font-size);
    }
    .home__options {
        width: 800px;
        display: flex;
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
        
    }
    .option__list {
        width: 300px;
        justify-content: center;
    }



    .score__output {
        background-color: #0205206e;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        border-radius: 1rem;
    }

    .score__heading {
        font-weight: var(--font-weight-bold);
        font-size: var(--h1-font-size);
    }

    .score {
        font-size: 6rem;
    }

    .end-btn {
        padding: 1rem;
        font-size: var(--h3-font-size);
        font-weight: var(--font-weight-medium);
    }
}

@media screen and (min-width: 1024px) {
    .home__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-inline: 2rem;
    }
    .home__hero,.home__options {
        width: 50%;
    }
    .option__list {
        width: 90%;
      
    }
}
@media screen and (min-width: 1424px) {
    .home__container {
        
        column-gap: 3rem;
    }
    .option__list {
        width: 60%;
      
    }

    .end__heading {
        margin-top: 2rem;
    }

    .end__heading-text {
        font-size: var(--biggest-font-size);
        font-weight: var(--font-weight-medium);
    }

    .end__heading-text span {
        font-weight: var(--font-weight-bold);
    }

    .score__output {
        background-color: #0205206e;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        border-radius: 1rem;
    }

    .score__heading {
        font-weight: var(--font-weight-bold);
        font-size: var(--h1-font-size);
    }

    .score {
        font-size: 6rem;
    }

    .end-btn {
        padding: 1rem;
        font-size: var(--h3-font-size);
        font-weight: var(--font-weight-medium);
    }
}